RewriteEngine On

RewriteRule ^inici$ /index.php [L]
RewriteRule ^login$ /Vista/login/login.php [L]
RewriteRule ^signup$ /Vista/signup/signup.php [L]
RewriteRule ^gestio$ /Vista/gestio.php [L]
RewriteRule ^logout$ /Controlador/logout.php [L]
RewriteRule ^insert$ /Vista/insert_Articles/insert.php [L]
RewriteRule ^modificar$ /Vista/modificar_Articles/modificar.php [L]
RewriteRule ^tot$ /Vista/tots.php [L]
RewriteRule ^modificarCompte$ /Vista/modificar_Compte/modificarCompte.php [L]
RewriteRule ^canviContrasenya$ /Vista/canvi_Contrasenya/canviContrasenya.php [L]
RewriteRule ^vistaAdmin$ /Vista/vista_Admin/admin.php [L]
RewriteRule ^tokenCorreu$ /Vista/login_Token/correu.php [L]
RewriteRule ^newPasswordToken$ /Vista/canvi_Contrasenya_Token/passwordToken.php [L]


ErrorDocument 404 /Vista/error/error404.html

RewriteRule ^error401$ /Vista/error/error401.html [L]
ErrorDocument 401 /error401